<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>PyCompressor Demo</title>
        
        
        <link type="text/css" href="http://demo.pycompressor.com/media/css/home.min.css" rel="stylesheet" />
    </head>
	<body>
	    
	    <h1>PyCompressor Demo</h1>
	    <img src='http://demo.pycompressor.globoi.com/media/img/compressor.jpg' />
	    
        <script type="text/javascript" src="http://demo.pycompressor.globoi.com/media/js/home.min.js" ></script>
    </body>
</html>
